.panel {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
}

.empty {
  text-align: center;
  margin-top: 40px;
}

.buttonContainer {
  margin-top: 20px;
}

.noUnderline {
  text-decoration: none;
}